*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html{
    --bgall-color: #fff4d9;
    --title1-color: #2D2C2A;
    --paragraph-color: #000000;
    --bgtitle2-color: #FED7AA;
    --title2-color: #2D2C2A;
    --title3-color: #2D2C2A;
    --descrizione-color: #000000;
    --prezzo-color: #2D2C2A;
}
  
.temaChiaro{
    --bgall-color: #fff4d9;
    --title1-color: #2D2C2A;
    --paragraph-color: #000000;
    --bgtitle2-color: #FED7AA;
    --title2-color: #2D2C2A;
    --title3-color: #2D2C2A;
    --descrizione-color: #000000;
    --prezzo-color: #2D2C2A;
}
  
.temaEscuro{
    --bgall-color: #061135;
    --title1-color: #ffffff;
    --paragraph-color: #ffffff;
    --bgtitle2-color: #f1ed77;
    --title2-color: #060071;
    --title3-color: #f1ed77;
    --descrizione-color: #ffffff;
    --prezzo-color: #ff7676;
}
  
#corpo{
    background-color: var(--bgall-color);
}
  
#intestazione{
    text-align: center;
    display: block;
    max-width: 300px;
    margin: 0 auto 0px;
}
  
#intestazione #nomeDelLocalle{
    color: var(--title1-color);
    
    font-family: "Roboto Serif";
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 4px;
}
  
#intestazione #orarioDiApertura{
    color: var(--paragraph-color);
    
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
  
    padding-bottom: 32px;
}
  
.strutturaDiTipoDellArticolo{
    max-width: 300px;
    margin-inline: auto;
    margin-bottom: 24px;
}
  
.strutturaDiTipoDellArticolo .nomeDellArticolo{
    background-color: var(--bgtitle2-color);
    color: var(--title2-color);
  
    display: flex;
    text-align: center;
    justify-content: center;
    
    font-size: 18px;
    font-family: "Roboto Serif";
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 21px;
  
    padding: 8px 16px;
    margin-bottom: 24px;
    height: 37px;
}
  
.strutturaDiListaDellArticolo{
    list-style: none;
    text-decoration: none;
}
  
.strutturaDiListaDellArticolo .strutturaDelCibo{
    margin-bottom: 16px;
    display: flex;
    height: auto;
}
  
.strutturaDiListaDellArticolo .strutturaDelCibo .nomeDelCibo{
    color: var(--title3-color);
    
    font-size: 16px;
    font-style: normal;
    font-family: "Roboto Serif";
    font-weight: 700;
    
    line-height: 19px;
}
  
.strutturaDiListaDellArticolo .strutturaDelCibo .descrizioneDelCibo{
    color: var(--descrizione-color);
    opacity: 0.75;
    
    font-size: 14px;
    font-family: "Roboto";
    font-weight: normal;
  
    line-height: 21px;
    text-shadow: 0px 4px 80px;
}
  
.strutturaDiListaDellArticolo .strutturaDelCibo .prezzoDelCibo{
    color: var(--prezzo-color);
    
    width: auto;
    height: auto;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-family: "Roboto Serif";
    font-weight: bold;
    
    line-height: 19px;
}
  
.strutturaDiListaDellArticolo .strutturaDelCibo .boxDelNomeEDescrizioneDelCibo{
    max-width: 80%;
}
  
.strutturaDiListaDellArticolo .strutturaDelCibo .nomeDelCibo, .strutturaDiListaDellArticolo .strutturaDelCibo .descrizioneDelCibo{
    margin-bottom: 8px;
}
  
.strutturaDiListaDellArticolo .strutturaDelCibo,.strutturaDiListaDellArticolo .strutturaDelCibo .prezzoDelCibo{
    display: flex;
    justify-content: space-between;
}
  
  #che{
    color: green;
}
  
#bel{
    color: var(--title1-color)
}
  
#llo{
    color: red;
}